flask
requests
cryptography
pycryptodome
protobuf
mitmproxy
aioquic
argon2-cffi
asgiref
attrs
blinker
Brotli
certifi
cffi
click
colorama
msgpack
passlib
publicsuffix2
pyasn1
pyasn1_modules
pycparser
pylsqpack
pyOpenSSL
pyparsing
pyperclip
discord.py
ruamel.yaml
ruamel.yaml.clib
service-identity
setuptools
sortedcontainers
tornado
typing_extensions
urwid
wcwidth
Werkzeug
wsproto
zstandard
motor
pymongo
python-dotenv
